:root {
    --bkg: #121214;
    --bkg-light: #202024;
    --text-gray: #737380;
    --text-gray-light: #a8a8b3;
    --text-white: #fefefe;
    --text-white-2: #e1e1e6;
    --head-color: #744ed6;
    --profile-bar: #04d361;
    --gradient-right: #2d264a;

    --icons: #87868b;
    --header-icons: #a8a8b3;
    
    --button-confirm: #7159c1;

    --inupt-bkg: #121214;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    top: 0;
    left: 0;
    height: 70px;
    background: var(--bkg-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 200px;
    overflow: hidden;
    margin-left: 2rem;
}

header .navigation a {
    margin: 0;
    height: 100%;
    color:var(--text-gray);
    padding: 1.4rem 0.8rem;
    transition: 0.2s;
    border-bottom: 2px solid transparent;
}

header .navigation a:hover {
    color: var(--text-white);
}

header .navigation a.active {
    color: var(--text-white);
    border-bottom: 2px solid var(--head-color);
}

header .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .user .tools i {
    color: var(--header-icons);
    font-size: 1.2rem;
    padding: 1rem;
}

header .user .tools i:last-child {
    margin-right: 1rem;
}

header .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin-right: 2rem;
    flex-shrink: 0;
}

header .avatar img {
    border-radius: 50%;
    border: 2px solid var(--text-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    background: var(--bkg);
}

.content {
    background: var(--bkg);
    max-width: min(90vw, 1110px);
    min-height: 90vh;    
    margin: auto;
}

.home {
    opacity: 0;
	visibility: hidden;
    display: none;
}

.home.active {
    opacity: 1;
	visibility: visible;
    display: inline;
}

.perfil {
    opacity: 0;
	visibility: hidden;
    display: none;
}

.perfil.active {
    opacity: 1;
	visibility: visible;
    display: inline;
}

.discover {
    opacity: 0;
	visibility: hidden;
    display: none;
}

.discover.active {
    opacity: 1;
	visibility: visible;
    display: inline;
}

.content .welcome {
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .welcome .text {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.content .welcome .text h1 {
    color: var(--text-white);
    font-size: 2.2rem;
}

.content .welcome .text .content-text {
    color: var(--text-gray-light);
    margin-left: 2.4rem;
}

.content .welcome .text .content-text p {
    padding: 0.3rem;
}

.content .welcome .hashtag {
    color: var(--text-gray);
}

.content .history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;

    height: 120px;
    background: linear-gradient(to right, var(--bkg-light) , var(--gradient-right));
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.content .history:hover {
    border: 2px solid var(--head-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.content .history .text {
    padding: 2rem;
}

.content .history .text h2 {
    color: var(--text-white);
}

.content .history .text p {
    color: var(--text-gray-light);
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.content .history .play {
    padding: 2rem;
}

.content .history .play {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .history .play span {
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.content .history .play img {
    margin-left: 1rem;
    height: 40px;
    width: 40px;
}
.cards {
    margin-top: 1.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0 0 2rem 0;
}

.cards .profile {
    background: var(--bkg-light);
    border-radius: 5px;
}

.cards .profile .head-profile {
    display: flex;
    align-items: stretch;
    padding: 2rem;
}

.cards .profile .head-profile .img-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 128px;
    width: 128px;
    flex-shrink: 0;
}

.cards .profile .head-profile .img-profile img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--text-white);
    padding: 2px;
    object-fit: cover;
    background-size: cover;
    background-clip: content-box;
}

.cards .profile .head-profile .text-profile {
    display: inline-block;
    margin-left: 2rem;
}

.cards .profile .head-profile .text-profile h2 {
    color: var(--text-white);
}

.cards .profile .head-profile .text-profile p {
    color: var(--text-gray-light);
    margin-top: 1rem;
}

.cards .profile .head-profile .text-profile button {
    border: none;
    border-radius: 5px;
    color: var(--text-white);
    background: var(--button-confirm);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    margin-top: 2rem;
}

.cards .profile .profile-level {
    border-top: 1px solid var(--bkg);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.cards .profile .profile-level p {
    color: var(--text-white);
}

.cards .profile .profile-level span {
    color:var(--profile-bar);
    font-weight: 600;
}

.cards .profile .profile-level .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.cards .profile .profile-level .level-bar {
    width: 98%;
    height: 6px;
    background  : var(--profile-bar);
}

.cards .profile .profile-level img {
    height: 21px;
    width: 21px;
    color:var(--profile-bar);
    background: var(--profile-bar);
    border-radius: 50%;
    padding: 0.2rem;
    opacity: 0.9;
}

.cards .forum-activity {
    border-radius: 5px;
    padding: 0 2rem;
    background: var(--bkg-light);
    display: flex;  
    flex-direction: column;
    justify-content: center;    
}

.cards .forum-activity .forum-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards .forum-activity .forum-head h3 {
    color: var(--text-gray);
    font-weight: 600;
    font-size: 1.5rem;
}

.cards .forum-activity .forum-head select {
    color: var(--text-gray);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 2.4rem 0.5rem 0.5rem;
    background: var(--bkg);
}

.cards .forum-activity .forum-img {
    display: flex;
    justify-content: center;
}

.cards .forum-activity .forum-btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cards .forum-activity .forum-btn button {
    border: 2px solid var(--button-confirm);
    border-radius: 5px;
    background: var(--bkg-light);
    color: var(--text-gray);
    width: 48%;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem;    
}

/****************** Discover ******************/
.discover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.discover .head {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bkg-light);
}

.discover .head img {
    height: 100px;
    width: 250px;
}

.discover .head button {
    border: none;
    border-radius: 5px;
    background: var(--button-confirm);
    color: var(--text-white);
    font-weight: 600;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
}

.discover .discover-trails {
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.discover .discover-trails .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.discover .discover-trails .head {
    color: var(--text-white-2);
    border: none;
    text-align: left;
    width: 100%;
    margin-top: 2.4rem;
}

.discover .discover-trails .cards .card {
    border-radius: 5px 5px 0 0;
    padding: 2rem;
    background: var(--bkg-light);
}    

.discover .discover-trails .cards .card img {
    height: 80px;
    width: 80px;
    margin-bottom: 2rem;
}

.discover .discover-trails .cards .card h2 {
    color: var(--text-white-2);
    width: 158px;
    margin-bottom: 2rem;
}

.discover .discover-trails .cards .card p {
    color: var(--text-gray-light);
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.discover .discover-trails .cards .card.ship {
    border-bottom: 2px solid #e83f5b;
}

.discover .discover-trails .cards .card.guide {
    border-bottom: 2px solid #8257e6;
}

.discover .discover-trails .cards .card.spaceman {
    border-bottom: 2px solid #04d361;
}

.discover .discover-trails .cards .card.rocket {
    border-bottom: 2px solid #fd951f;
}

.discover .discover-content .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}